<footer class="row">
    <div class="large-6 columns">
        <p class="large-text-left">
            Наш адрес: Фермское шоссе, д.10, Санкт-Петербург
        </p>
    </div>
    <div class="large-6 columns">
        <p class="large-text-right">
            Наш телефон: +7 999 123 45 67
        </p>
    </div>
</footer>