@{
    ViewBag.Title = "Гастропаб Челюскин";
}

<div class="row">
    <div class="large-12 columns">
        <img src="/Content/images/IMG_1457_8_9.jpg" alt="Интерьер паба"/>
    </div>
</div>

<div class="row">
    <br/>
    <div class="large-offset-2 large-8 columns float-left">
        <h2 class="text-center">Гастропаб</h2>
        <p class="text-justify">
            Duis id erat et metus ornare laoreet in id mi. Proin augue est, ullamcorper ut iaculis et, pretium ut metus. Nam tincidunt imperdiet ante, eget blandit nunc tincidunt id. Aenean nec dolor urna. Morbi ac finibus lacus. Integer iaculis interdum nisi quis iaculis. Morbi lobortis finibus elit, eget finibus ante hendrerit in. Nullam faucibus molestie erat, non dignissim nisl aliquam vitae. Etiam eu tincidunt dolor, non fringilla mi. Sed consequat ipsum nec dolor venenatis lacinia. Ut risus leo, congue id sollicitudin nec, semper vel lorem.
            <br/>
            <br/>
            Quisque venenatis neque et ligula fringilla, nec semper velit tincidunt. Cras imperdiet pulvinar lectus, auctor malesuada justo facilisis ultrices. Etiam ac sem scelerisque, maximus velit nec, tristique magna. 
            <br />
            <br />
            Curabitur accumsan porta tellus, et imperdiet urna tristique vel. Donec mollis libero non lectus pellentesque, id dignissim turpis elementum. Vivamus non mi sit amet dolor tempor maximus in nec justo. Ut sodales bibendum ultrices. Mauris a tellus pharetra, hendrerit ligula ut, dignissim mi.
        </p>
        <br/>
        <h2 class="text-center">Бар</h2>
        <p class="text-justify">
            Aenean congue finibus velit, nec lobortis erat semper ac. Ut nec augue ac massa tincidunt laoreet id eget ligula. Aenean nunc velit, suscipit ac feugiat id, lobortis in nibh. Sed ac mollis felis. Proin pharetra fermentum nibh, nec ornare nisi facilisis eget. Fusce sed efficitur ipsum. Fusce augue quam, elementum vitae tincidunt vehicula, cursus in nibh. Nam varius maximus diam, nec imperdiet ligula placerat eget. 
            <br/><br/>
            Nunc feugiat faucibus tincidunt. Proin et suscipit tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            <br/>
            <br />
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <img src="/Content/images/IMG_1457_8_9.jpg" alt="Барная стойка" />
    </div>
</div>
